<h1 class="display-4"> 
    <div class = "container">
        <div class = "title">
            <strong>
                <%= @book.title %> <br>
            </strong> 
            
        </div>

        <div class = "description">
            <%= @book.description %>
        </div>

        <div class= "tags">
            TAGS: 
            <% @book.tags.each do |t| %>
                <button type="button" class="btn btn-primary"><%= t.name %></button>
            <% end %>
        </div>

        <div class= "back">
            <%= link_to 'Back', books_path, class: "btn btn-dark"%>
            <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-dark" %> |
        </div>
    </div>
</h1>

